<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<title>Index...</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{header::header-fragment}"></div>
    <div id="container">
       <section id="board_detail">
         <h2>글 상세보기</h2>
         <table class="tbl_list">
       		<tbody>
       		  <tr>
       		  	<td>
       		  		<input type="text" name="title"
       		  			th:value="${board.title}" readonly>
       		  	</td>
       		  </tr>
       		  <tr>
       		  	<td>
       		  		<input type="text" 
       		  			th:value="${board.member.name}" readonly>
       		  	</td>
       		  </tr>
       		  <tr>
       		  	<td>
       		  		<textarea rows="5" cols="50" name="content"
       		  			th:text="${board.content}" readonly></textarea>
       		  	</td>
       		  </tr>
       		  <tr>
       		  	<td>
       		  	   <th:block sec:authorize="isAuthenticated()"
       		  	         th:if="${#authentication.getPrincipal.getUsername()}==
       		  	                 ${board.member.memberId}">
   		  	    	<a th:href="@{|/board/update/${board.id}|}">
   		  			  <button type="button">수정</button>
     		  		</a>
     		  		<a th:href="@{|/board/delete/${board.id}|}"
     		  		   th:onclick="return confirm('해당 게시글을 정말로 삭제하시겠습니까?')">
     		  			<button type="button">삭제</button>
     		  		</a>
     		  		</th:block>
     		  		<a th:href="@{/board/list}">
     		  			<button type="button">목록</button>
     		  		</a>
       		  	</td>
       		  </tr>
       		</tbody>
       	</table>
       	
       	<!-- 댓글 목록  -->
       	<div class="reply">
       		<div th:each="reply : ${board.replyList}">
       		  <p th:text="${reply.content}"></p>
       		  <p th:text=" '작성자: ' + ${reply.member.name} + 
       		      ' (작성일: ' + ${reply.createdDate} + ')' "></p>
       		  <p>
       		    <th:block sec:authorize="isAuthenticated()"
       		  	         th:if="${#authentication.getPrincipal.getUsername()}==
       		  	                 ${reply.member.memberId}">
	       		  	<a th:href="'#'">수정</a> | 
	       		  	<!-- 자바스크립트에서 자료형값을 유지- [[자료]] -->
	       		  	<a th:href="'#'" 
	       		  	   th:onclick="replyObject.deleteReply([[${board.id}]], [[${reply.id}]])">삭제</a>
       		    </th:block>
       		  </p>
       		</div>
       	</div>
       	
       	<!-- 댓글 등록 -->
       	<div class="reply-insert">
       	    <input type="hidden" id="boardId" th:value="${board.id}">
       		<p>
       			<textarea rows="3" cols="80"
       				id="replyContent" placeholder="댓글을 남겨주세요"></textarea>
       		</p>
       		<button id="btn-save-reply">댓글 등록</button>
       	</div>
       	
       </section>
	</div>
	<div th:replace="~{footer::footer-fragment}"></div>

<script src="/js/reply.js"></script>
</body>
</html>