<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="ch">
    <div th:replace="~{header::header-fragment}"></div>
	<div id="container">
	   <section id="login">
		<h2>로그인</h2>
		<form th:action="@{/login}" method="post" class="loginform">
		  <fieldset>
		  	<ul>
		  		<li>
		  			<input type="text" name="username" id="username" placeholder="아이디를 입력해주세요.">
		  		</li>
		  		<li>
		  			<input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요.">
		  		</li>
		  	    <li>
		  			<input type="submit" value="로그인">
		  			<button type="button" onclick="location.href='/member/join'">회원가입</button>
		  		</li>
		  	</ul>
		  </fieldset>
		</form>
	   </section>
	</div>
</body>
</html>