<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원목록...</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{header::header-fragment}"></div>
	<div id="container">
	  <section id="memberlist">
		<h2>회원 목록</h2>
		  <table class="tbl_list">
		  	<thead>
		  	  <tr>
		  	    <th>번호</th>
		  	    <th>아이디</th>
		  	    <th>이름</th>
		  	    <th>권한</th>
		  	    <th>가입일</th>
		  	    <th>조회</th>
		  	    <th>삭제</th>
		  	  </tr>
		  	</thead>
		  	<tbody>
		  	  <tr th:each="member: ${memberList}">
		  	    <td th:text="${member.id}"></td>
		  	    <td th:text="${member.memberId}"></td>
		  	    <td th:text="${member.name}"></td> 
		  	    <td th:text="${member.role}"></td>
		  	    <td th:text="${#dates.format(member.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
		  	    <td><a th:href="@{|/member/${member.id}|}">조회</a></td>
		  	    <!-- 버티컬바(|)는 ${member.id}를 숫자로 유지시켜줌 -->
		  	    <td><a th:href="@{|/member/delete/${member.id}|}"
		  	           onclick="return confirm('해당 회원을 삭제하시겠습니까?')">삭제</a></td>
		  	  </tr>
		  	</tbody>
		  </table>
		</section>
	</div>
</body>
</html>