@charset "UTF-8";

/* 공통 스타일 */
*{margin: 0; padding: 0;}
ul li{list-style: none;}
a{text-decoration: none;}

.ch{
  background-color: #eee; width: 100%;
  @media screen and (min-width: 1200px) {width: 1024px; margin: 0 auto;}

/* login 스타일 */
  #login{
    margin: 100px auto;
    width: 450px; 
    height: 600px;
    background-color: #F8F8F8;
    border: 1px solid rgb(0, 74 , 173);
  }
  #login h2{
    text-align: center;
    margin: 20px;
    color: rgb(0, 74 , 173);
  }
}


